/* ENTRIES */
/* ----------------------------------------- */
.entry {
  display: block;
  margin-bottom: 1em;
  clear: both; }
  .entry.myself {
    text-align: center; }
    @media (min-width: 1200px) {
      .entry.myself {
        text-align: left; } }

a.eqf {
  color: red !important;
  float: right; }
a.website {
  white-space: nowrap; }

img.portrait {
  width: 80%;
  max-width: 343px;
  margin-right: 1em;
  display: inline; }
  @media (min-width: 1200px) {
    img.portrait {
      float: left;
      width: 280px; } }

h1.name {
  font-size: 3.2em;
  color: #467CE2 !important;
  clear: both;
  line-height: 0.9em; }
  h1.name span {
    font-size: 0.7em;
    display: block;
    color: #1b4491 !important;
    margin: 0.5em 0 0.5em 0; }
    @media (min-width: 1200px) {
      h1.name span {
        margin: 0.1em 0 0.1em 0;
        text-align: center; } }

h2.entryTitle {
  clear: both;
  font-size: 2em;
  color: #1b4491 !important;
  text-transform: uppercase;
  line-height: 1em; }

h3.entrySubTitle {
  margin-bottom: 0.3em;
  clear: both;
  color: #7b90b5 !important;
  font-size: 0.9em; }
  @media (min-width: 768px) {
    h3.entrySubTitle {
      width: 20%;
      text-align: right;
      float: left; } }

em {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #777777 !important;
  display: block;
  padding-top: 0.1em; }

p.context {
  height: 100%;
  font-size: 1em;
  line-height: 1.2em;
  margin-left: 5%; }
  @media (min-width: 768px) {
    p.context {
      margin-left: 23%; } }
  p.context img {
    margin-left: 20px;
    padding-left: 10px; }

div.content {
  clear: both;
  overflow: hidden;
  display: block;
  padding-top: 1em; }
div.rif {
  margin-top: 10px;
  text-align: right;
  font-style: italic;
  font-size: 0.9em; }

ol {
  width: 500px;
  margin-left: 40px;
  list-style: decimal; }

ol li {
  width: 500px;
  list-style-type: decimal;
  list-style-position: inside; }

dl {
  width: 500px;
  margin-left: 40px; }

dt {
  float: left;
  display: block;
  width: 500px;
  color: #7b90b5 !important; }

dd {
  float: left;
  display: block;
  width: 480px;
  text-indent: 20px; }

ul {
  list-style-type: none; }
  ul.info, ul.skills, ul.languages {
    margin-left: 5%; }
    @media (min-width: 768px) {
      ul.info, ul.skills, ul.languages {
        margin-left: 23%; } }
  ul.info {
    display: table; }
    ul.info li {
      height: 100%;
      margin: 1% 0 0 0;
      float: left; }
  @media (min-width: 768px) {
    ul.languages {
      display: none; } }
  ul li.title {
    margin-left: 20px;
    margin-top: 5px; }
    ul li.title b {
      text-transform: uppercase;
      font-weight: bold; }
  ul li.subtitle {
    margin-left: 40px; }
    ul li.subtitle em {
      font-style: italic;
      color: grey !important;
      display: inline; }

.privacy {
  display: none; }

/* SELF INFORMATION */
/* ----------------------------------------- */
.self {
  margin: 0 0 1em 0; }
  @media (min-width: 1200px) {
    .self {
      float: left; } }
  .self ul {
    padding: 10px 0 0 2%;
    text-align: left; }
    .self ul li {
      display: block;
      line-height: 2em;
      font-size: 1em; }
      .self ul li img {
        height: 1.2em;
        width: auto;
        margin-right: 0.7em;
        vertical-align: middle; }

/* SOCIAL ICONS */
/* ----------------------------------------- */
@media (min-width: 1200px) {
  .icon {
    float: right; } }
.icon ul {
  list-style: none; }
  .icon ul li {
    float: left;
    margin: 0 0 0 1em; }
    .icon ul li img {
      width: 1.7em;
      height: 1.7em; }
    .icon ul li #print {
      display: none; }
      @media (min-width: 1200px) {
        .icon ul li #print {
          display: inherit; }
          .icon ul li #print img {
            width: 3em;
            height: 3em; } }

/* TABLES */
/* ----------------------------------------- */
table.languages {
  margin: 1em 0 0 auto;
  border-collapse: collapse;
  border: 0.1em solid #999; }
  @media screen and (max-width: 768px) {
    table.languages {
      display: none; } }
  @media (min-width: 768px) {
    table.languages {
      width: 77%;
      margin-left: 23%; } }
  table.languages tr {
    border-top: 1px dashed #999; }
  table.languages td {
    padding: 0px;
    border-right: 1px dashed #999;
    text-align: center; }
    @media (min-width: 768px) {
      table.languages td {
        padding: 8px; } }
    table.languages td.column {
      width: "25%"; }
    table.languages td.title {
      text-transform: uppercase;
      font-weight: bold; }
    table.languages td.subtitle {
      font-style: italic;
      color: grey !important; }

/*# sourceMappingURL=cv.css.map */
