/******** RESET **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

.clear {
  clear: both; }

/******** RESET **********/
body {
  font-family: "Open Sans", "Helvetica Neue", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

small {
  font-size: 1.3em !important; }

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000; }

hr {
  max-width: 400px;
  border-color: #999999; }

.img-about,
.brand,
.address-bar {
  display: none; }

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px; }

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px; }

.img-full {
  min-width: 100%; }

.brand-before,
.brand-name {
  text-transform: capitalize; }

.brand-before {
  margin: 15px 0; }

.brand-name {
  margin: 15px 0 15px 0;
  font-size: 3.5em; }

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999; }

.box {
  margin-bottom: 20px;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

.intro-text {
  text-transform: capitalize;
  font-size: 1.8em; }

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px; }

.img-left {
  float: none;
  margin: 0 auto 0; }

/* TWITTER */
/* ----------------------------------------- */
.box.twitter-timeline {
  text-align: center !important; }

/* CONTACT */
/* ----------------------------------------- */
.ng-dirty.ng-invalid.ng-valid-required {
  border-color: #ff0000;
  /* RED */ }

.ng-dirty.ng-valid.ng-valid-required {
  border-color: #27db30;
  /* GREEN */ }

.form-group {
  text-align: center; }

div.contact_info {
  margin: 0 15px 0 15px; }

/* FOOTER */
/* ----------------------------------------- */
footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }
  footer p {
    margin: 0;
    padding: 10px 0 30px 0; }

.social {
  position: relative;
  display: inline-flex;
  width: auto;
  margin: 10px 0 10px 0; }
  @media screen and (min-width: 768px) {
    .social {
      display: block;
      height: 27px; } }
  .social ul {
    position: relative;
    display: block;
    list-style: none; }
    @media screen and (min-width: 768px) {
      .social ul {
        position: absolute; }
        .social ul.right {
          right: 10px; }
        .social ul.left {
          left: 0px; } }
    .social ul li {
      float: left;
      margin: 0 0 0 1em;
      padding: 0; }
      .social ul li img {
        height: 1.7em; }

/* FLAG ICONS */
/* ----------------------------------------- */
img.flag {
  width: 74px;
  height: 74px;
  margin: 0 0 0 15px; }
  @media screen and (min-width: 768px) {
    img.flag {
      width: 110px;
      margin: 0;
      padding: 0 20px 0 20px; }
      img.flag:hover, img.flag:focus {
        background-image: url("../img/nav_bg_hover_flag.png");
        background-size: 100% 100%; } }

img.flag:hover {
  cursor: pointer; }

/* MEDIA QUERIES */
/* ----------------------------------------- */
@media screen and (min-width: 768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal; }

  .top-divider {
    margin-top: 0; }

  .img-left {
    float: left;
    margin-right: 25px; }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff; }

  .navbar {
    border-radius: 0;
    min-height: 0; }

  .navbar-header {
    display: none; }

  .navbar-default {
    border: none;
    background: #fff;
    background: rgba(100, 100, 100, 0); }
    .navbar-default .navbar-collapse {
      height: 90px !important;
      padding: 1px 15px 0px 15px;
      background-image: url("../img/nav_bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      .navbar-default .navbar-collapse .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em; }
        .navbar-default .navbar-collapse .navbar-nav li {
          height: 74px; }
          .navbar-default .navbar-collapse .navbar-nav li a {
            height: 100%;
            color: black;
            line-height: normal;
            padding: 25px 12px 15px 12px;
            font-weight: bold; } }
          @media screen and (min-width: 768px) and (min-width: 1200px) {
            .navbar-default .navbar-collapse .navbar-nav li a {
              padding: 25px 20px 15px 20px; } }
@media screen and (min-width: 768px) {
            .navbar-default .navbar-collapse .navbar-nav li a.home:hover, .navbar-default .navbar-collapse .navbar-nav li a.home:focus {
              background-image: url("../img/nav_bg_hover_home.png");
              background-size: 100% 100%;
              color: #9e1111 !important; }
            .navbar-default .navbar-collapse .navbar-nav li a.about:hover, .navbar-default .navbar-collapse .navbar-nav li a.about:focus {
              background-image: url("../img/nav_bg_hover_about.png");
              background-size: 100% 100%;
              color: #9e1111 !important; }
            .navbar-default .navbar-collapse .navbar-nav li a.cv:hover, .navbar-default .navbar-collapse .navbar-nav li a.cv:focus {
              background-image: url("../img/nav_bg_hover_home.png");
              background-size: 100% 100%;
              color: #9e1111 !important; }
            .navbar-default .navbar-collapse .navbar-nav li a.tweet:hover, .navbar-default .navbar-collapse .navbar-nav li a.tweet:focus {
              background-image: url("../img/nav_bg_hover_about.png");
              background-size: 100% 100%;
              color: #9e1111 !important; }
            .navbar-default .navbar-collapse .navbar-nav li a.contact:hover, .navbar-default .navbar-collapse .navbar-nav li a.contact:focus {
              background-image: url("../img/nav_bg_hover_contact.png");
              background-size: 100% 100%;
              color: #9e1111 !important; }
        .navbar-default .navbar-collapse .navbar-nav .active > a {
          background: none;
          border: none;
          color: white !important; }
          .navbar-default .navbar-collapse .navbar-nav .active > a.home:focus, .navbar-default .navbar-collapse .navbar-nav .active > a.home:hover {
            background-image: url("../img/nav_bg_hover_home.png");
            background-size: 100% 100%;
            color: #12794B !important; }
          .navbar-default .navbar-collapse .navbar-nav .active > a.about:focus, .navbar-default .navbar-collapse .navbar-nav .active > a.about:hover {
            background-image: url("../img/nav_bg_hover_about.png");
            background-size: 100% 100%;
            color: #12794B !important; }
          .navbar-default .navbar-collapse .navbar-nav .active > a.cv:focus, .navbar-default .navbar-collapse .navbar-nav .active > a.cv:hover {
            background-image: url("../img/nav_bg_hover_cv.png");
            background-size: 100% 100%;
            color: #12794B !important; }
          .navbar-default .navbar-collapse .navbar-nav .active > a.tweet:focus, .navbar-default .navbar-collapse .navbar-nav .active > a.tweet:hover {
            background-image: url("../img/nav_bg_hover_about.png");
            background-size: 100% 100%;
            color: #12794B !important; }
          .navbar-default .navbar-collapse .navbar-nav .active > a.contact:focus, .navbar-default .navbar-collapse .navbar-nav .active > a.contact:hover {
            background-image: url("../img/nav_bg_hover_contact.png");
            background-size: 100% 100%;
            color: #12794B !important; } }
@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both; } }
@media screen and (min-width: 992px) {
  .img-about {
    display: inherit;
    width: 25%;
    height: auto;
    margin: 20px; }
    .img-about.left {
      float: left; }
    .img-about.right {
      float: right; } }

/*# sourceMappingURL=index.css.map */
