$widthDesktop : 1418px;
$widthTablet  : 1200px;
$widthPhone   : 768px;

$colorName  : #467CE2;
$colorTitle : #1b4491;

$iconSize: 1.5em;

// Print Variables //
$pvFontSize: 13px;
$pvWidthTitle: 250px;