// Screen Size
$widthDesktop : 1418px;
$widthTablet  : 1200px;
$widthPhone   : 768px;

// Size
$iconSize: 1.5em;

// Colors
$colorName     : #467CE2;
$colorTitle    : #1b4491;
$colorSubTitle : #7b90b5;
$colorEmphasis : #777777;

// Print Variables
$pvFontSize: 13px;
$pvWidthTitle: 250px;

// Fonts
$ffBody: "Open Sans","Helvetica Neue","Trebuchet MS", Arial, Helvetica, sans-serif;
$ffH: "Trebuchet MS", Arial, Helvetica, sans-serif;
$ffEm : Georgia, "Times New Roman", serif;