@import '_variables';
@import '_mixin';

@charset "UTF-8";

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	display        : block;
	margin-bottom  : 1em;
	clear          : both;

	&.myself {
		text-align:center;

		@include respondTo($widthTablet){
			text-align:left;
		}
	}
}

a{
	&.eqf{
		color : red;
		float : right;
	}

	&.website{
		white-space:nowrap;
	}
}

img.portrait {
	width: 80%;
	max-width: 343px;
	margin-right: 1em;
	display: inline;

	@include respondTo($widthTablet){
		float: left;
		width: 280px;
	}
}


h1.name{
	font-size     : 3.2em;
	color         : $colorName;
	clear         : both;
	line-height   : 0.9em;

	span {
		font-size : 0.7em;
		display   : block;
		color     : $colorTitle;
		margin    : 0.5em 0 0.5em 0;

		@include respondTo($widthTablet){
			margin     : 0.1em 0 0.1em 0;
			text-align : center;
		}
	}
}


h2.entryTitle {
	clear         : both;
	font-size     : 2em;
	color         : $colorTitle;
	text-transform: uppercase;
	line-height   : 1em;
}

h3.entrySubTitle{
	margin-bottom: 0.3em;
	clear: both;
	color: #7b90b5;
	font-size: 0.9em;

	@include respondTo($widthPhone) {
		width      : 20%;
		text-align : right;
		float      : left;
	}
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	display: block;
	padding-top: 0.1em;
}

p.context {
	height: 100%;
	font-size: 1em;
	line-height: 1.2em;
	margin-left: 5%;

	@include respondTo($widthPhone) {
		margin-left: 23%;
	}

	img {
		margin-left  : 20px;
		padding-left : 10px;
	}
}

div {
	&.content{
		clear       : both;
		overflow    : hidden;
		display     : block;
		padding-top : 1em;
	}

	&.rif{
		margin-top: 10px;
		text-align: right;
		font-style: italic;
		font-size: 0.9em;
	}
}


ol {
	width:500px;
	margin-left:40px;
	list-style: decimal;

}

ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

dl {
	width:500px;
	margin-left:40px;
}

dt {
	float:left;
	display: block;
	width:500px;
		color:#7b90b5;
}

dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}


ul{
	list-style-type: none;

	&.info, &.skills, &.languages{
		margin-left: 5%;

		@include respondTo($widthPhone) {
			margin-left: 23%;
		}
	}

	&.info {
		display: table;

		li {
			height  : 100%;
			margin  : 1% 0 0 0;
			float   : left;
		}
	}

	&.languages{
		@include respondTo($widthPhone) {
			display: none;
		}
	}

	li.title{
		margin-left: 20px;
		margin-top: 5px;

		b {
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	li.subtitle{
		margin-left: 40px;

		em{
			font-style: italic;
			color: grey;
			display: inline;
		}
	}
}

.privacy{
	display: none;
}

/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	margin: 0 0 1em 0;

	@include respondTo($widthTablet){
		float:left;
	}

	ul {
		padding: 10px 0 0 2%;
		text-align: left;

		li {
			display:block;
			line-height: 2em;
			font-size: 1em;

			img{
				height : 1.2em;
				width  : auto;
				margin-right: 0.7em;
				vertical-align: middle;
			}
		}
	}
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.icon {
	@include respondTo($widthTablet) {
		float: right;
	}

	ul {
		list-style: none;

		li {
			float   : left;
			margin  : 0 0 0 1em;

			#print{
				display: none;

				@include respondTo($widthTablet) {
					display: inherit;
				}
			}

			img{
				width  : 1.7em;
				height : 1.7em;
			}
		}
	}
}

/* TABLES */
/* ----------------------------------------- */

table.languages {
	margin: 1em 0 0 auto;
	border-collapse: collapse;
	border: 0.1em solid #999;

  @media screen and (max-width: $widthPhone) {
  	display: none;
	}

	@include respondTo ($widthPhone) {
		width: 77%;
		margin-left: 23%;
	}

	tr {
		border-top:1px dashed #999;
	}

	td {
		padding: 0px;
		border-right: 1px dashed #999;
		text-align: center;

		@include respondTo ($widthPhone) {
			padding: 8px;
		}

		&.column{
			width :"25%";
		}

		&.title{
			text-transform: uppercase;
			font-weight: bold;
		}

		&.subtitle{
			font-style: italic;
			color: grey;
		}
	}
}