@import '_variables';
@import '_mixin';

@charset "UTF-8";

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	display        : block;
	margin-bottom  : 1em;
	clear          : both;
}

.entry.myself {
	text-align:center;

	@include respondTo($widthTablet){
		text-align:left;
	}
}


img.portrait {
	width: 80%;
	max-width: 343px;
	margin-right: 1em;
	display: inline;

	@include respondTo($widthTablet){
		float: left;
		width: 280px;
	}
}


h1.name{
	font-size     : 3.2em;
	color         : $colorName;
	clear         : both;
	line-height   : 0.9em;

	span {
		font-size : 0.7em;
		display   : block;
		color     : $colorTitle;
		margin    : 0.5em 0 0.5em 0;

		@include respondTo($widthTablet){
			margin     : 0.1em 0 0.1em 0;
			text-align : center;
		}
	}
}


h2.entryTitle {
	padding       : 0;
	margin        : 0;
	clear         : both;
	font-size     : 2em;
	color         : $colorTitle;
	margin-bottom : -12px;
	text-transform: uppercase;
	line-height   : 1em;
}

h3.entrySubTitle{
	padding    : 0;
	clear      : both;
	color      : #7b90b5;
	font-size  : 0.9em;

	@include respondTo($widthPhone) {
		width      : 20%;
		text-align : right;
		float      : left;
	}
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	display: block;
	padding-top: 0.1em;
}

p.context {
	margin-left: 23%;
	height: 100%;
	font-size: 1em;
	line-height: 1.2em;

	img {
		margin-left  : 20px;
		padding-left : 10px;
	}
}

div.content {
	clear       : both;
	padding     : 0;
	margin      : 0;
	overflow    : hidden;
	display     : block;
	padding-top : 23px;
}


ol {
	width:500px;
	margin-left:40px;
	list-style: decimal;

}

ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

dl {
	width:500px;
	margin-left:40px;
}

dt {
	float:left;
	display: block;
	width:500px;
		color:#7b90b5;
}

dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}

ul.unordered {
	width:500px;
	margin-left:40px;
}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../img/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	margin:0 0 0 23%;
	list-style-type : none;
	display         : table;
}

ul.info li {
	height  : 100%;
	margin  : 1% 0 0 0;
	padding : 0;
	float   : left;
}

ul.skills {
	margin:0 0 0 23%;
	padding:0;
	list-style-type: none;
}

.privacy{
	display: none;
}

/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	margin:0 0 1em 0;

	@include respondTo($widthTablet){
		float:left;
	}

	ul {
		padding: 10px 0 0 2%;
		text-align: left;

		li {
			display:block;
			line-height: 2em;
			font-size: 1em;

			img{
				height : 1.2em;
				width  : auto;
				margin-right: 0.7em;
				vertical-align: middle;
			}
		}
	}
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.icon {

	@include respondTo($widthTablet) {
		float: right;
	}

	ul {
		list-style: none;

		li {
			float   : left;
			margin  : 0 0 0 1em;
			padding : 0;

			#print{
				display: none;

				@include respondTo($widthTablet) {
					display: inherit;
				}
			}

			img{
				width  : 1.7em;
				height : 1.7em;
			}
		}
	}
}

/* ELEMENTS */
/* ----------------------------------------- */

table {
	width: 78%;
	margin: 2.7em 0 0 auto;
	border-collapse: collapse;
	border: 0.1em solid #999;


	@include respondTo(485px) {
		margin-top: 0;
	}

	@include respondTo($widthDesktop) {
		margin-left: 23%;
	}
}

table tr {
	border-top:1px dashed #999;
}

table td {
	padding: 2px;
	border-right:1px dashed #999;
	text-align: center;

	@include respondTo ($widthPhone) {
		padding: 5px;
	}
}

table td.column{
	width :"25%";
}

table td.title{
	text-transform: uppercase;
	font-weight: bold;
}

table td.subtitle{
	font-style: italic;
	color: grey;
}

div .rif{
	margin-top: 10px;
	text-align: right;
}

a.eqf{
	color : red;
	float : right;
}