@import '_variables';
@import '_mixin';

@charset "UTF-8";

/******** RESET **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

.clear {
    clear:both;
}

/******** RESET **********/

body {
    font-family: "Open Sans","Helvetica Neue","Trebuchet MS", Arial, Helvetica, sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

small{
    font-size: 1.3em !important;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0 0 15px 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

/* CONTACT */
/* ----------------------------------------- */


.ng-dirty.ng-invalid.ng-valid-required{
    border-color: #ff0000; /* RED */
}

.ng-dirty.ng-valid.ng-valid-required{
    border-color: #27db30; /* GREEN */
}

.form-group{
    text-align: center;
}

div.contact_info{
    margin: 0 15px 0 15px;
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.social {
    position: absolute;
    top: 15px;
    right: 15px;

    ul {
        list-style: none;

        li {
            float   : left;
            margin  : 0 0 0 1em;
            padding : 0;

            img{
                width  : 1.7em;
                height : 1.7em;
            }
        }
    }
}


/* FLAG ICONS */
/* ----------------------------------------- */

img.flag {
    width: 115px;
    height: 74px;
    margin: 0 0 0 15px;

    @include respondTo($widthPhone){
        margin: 0;
        padding: 0 20px 0 20px;

        @include transition_navbar_hover();
        &:hover, &:focus{
            @include navbar_hover("flag");
        }
    }
}

img.flag:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */
/* ----------------------------------------- */

@media screen and (min-width:$widthPhone) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
        min-height: 0;
    }

    .navbar-header {
        display : none;
    }

    .navbar-default {
        border     : none;
        background : #fff;
        background : rgba(100,100,100,0);

        .navbar-collapse{
            height            : 90px !important;
            padding           : 1px 15px 0px 15px;
            background-image  : url("../img/nav_bg.png");
            background-repeat : no-repeat;
            background-size   : 100% 100%;

            .navbar-nav {
                display: table;
                float: none;
                margin: 0 auto;
                table-layout: fixed;
                font-size: 1.25em;

                & > .active > a {
                    &, &:focus{
                        background : none;
                        border     : none;
                        color      : white !important;
                    }
                    &.home:hover{
                        @include navbar_hover("home");
                        color : #12794B !important;
                    }
                    &.about:hover{
                        @include navbar_hover("about");
                        color : #12794B !important;
                    }
                    &.cv:hover{
                        @include navbar_hover("cv");
                        color : #12794B !important;
                    }
                    &.contact:hover{
                        @include navbar_hover("contact");
                        color : #12794B !important;
                    }
                }

                li {
                    height : 74px;

                    a {
                        height      : 100%;
                        color       : black;
                        line-height : normal;
                        padding     : 25px 20px 15px 20px;
                        font-weight : bold;
                        @include transition_navbar_hover();

                        &.home:hover, &.home:focus {
                            @include navbar_hover("home");
                            color : #9e1111 !important;
                        }
                        &.about:hover, &.about:focus {
                            @include navbar_hover("about");
                            color : #9e1111 !important;
                        }
                        &.cv:hover, &.cv:focus {
                            @include navbar_hover("cv");
                            color : #9e1111 !important;
                        }
                        &.contact:hover, &.contact:focus {
                            @include navbar_hover("contact");
                            color : #9e1111 !important;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width:$widthTablet) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}