<div class="container" >
		<div class="row">
				<div class="box">
						<div>
							<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.896736503329!2d12.47061669999999!3d41.808984900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258b6da7461e6f%3A0xd23ec8a7498ff782!2sVia+Baudelaire%2C+10%2C+00143+Roma!5e0!3m2!1sit!2sit!4v1419269234831"></iframe>
							<!--
								<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=41.811,12.467&amp;spn=56.506174,79.013672&amp;t=m&amp;z=17&amp;output=embed"></iframe>
							-->
						</div>

						<div class="contact_info">
							<p>Address:
									<strong>{{aboutMe.address.trans}}</strong>
							</p>
							<p>Phone:
									<strong>{{aboutMe.phone}}</strong>
							</p>
							<p>Email:
									<strong>{{aboutMe.email}}</strong>
							</p>
						</div>

				</div>
		</div>

		<div class="row">
				<div class="box">
						<div class="col-lg-12">
								<hr>
								<h2 class="intro-text text-center">
										<strong>{{words.tContactForm.trans}}</strong>
								</h2>
								<hr>
								<p>{{words.contactFormDesc.trans}}</p>
								<form role="form" name="contactForm" 
								      ng-controller="contactController as contact"
								      ng-submit="contactForm.$valid && contact.sendEmail()" novalidate>
										<div  ="row">
												<div class="form-group col-lg-4">
														<label>{{words.tName.trans}}</label>
														<input ng-model="contact.email.name" type="text" class="form-control" required>
												</div>
												<div class="form-group col-lg-4">
														<label>{{words.tEmail.trans}}</label>
														<input ng-model="contact.email.senderEmail" type="email" class="form-control" required>
												</div>
												<div class="form-group col-lg-4">
														<label>{{words.tPhone.trans}}</label>
														<input ng-model="contact.email.phone" type="tel" class="form-control">
												</div>
												<div class="clearfix"></div>
												<div class="form-group col-lg-12">
														<label>{{words.tMessage.trans}}</label>
														<textarea ng-model="contact.email.message" class="form-control" rows="6" required></textarea>
												</div>
												<div class="form-group col-lg-12">
														<input type="hidden" name="save" value="contact">
														<button ng-show="contactForm.$valid" type="submit" class="btn btn-default">{{words.tSubmit.trans}}</button>
												</div>
										</div>
								</form>
						</div>
				</div>
		</div>
</div>	