<div class="container" >
		<div class="row">
				<div class="box">

					<iframe id="canvas_map" width="100%" height="450" frameborder="0" style="border:0" src="">
					</iframe>

					<div class="contact_info">
						<p>{{words.tAddress.trans}}:
								<strong>{{words.address.trans}}</strong>
						</p>
						<p>{{words.tPhoneNumber.trans}}:
								<strong>{{words.phoneNumber.trans}}</strong>
						</p>
						<p>{{words.tEmail.trans}}:
								<strong>{{words.email.trans}}</strong>
						</p>
					</div>

				</div>
		</div>

		<div class="row">
				<div class="box">
						<div class="col-lg-12">
								<hr>
								<h2 class="intro-text text-center">
										<strong>{{words.tContactForm.trans}}</strong>
								</h2>
								<hr>
								<p>{{words.contactFormDesc.trans}}</p>
								<form role="form" name="contactForm" 
								      ng-controller="contactController as contact"
								      ng-submit="contactForm.$valid && contact.sendEmail()" novalidate>
										<div  ="row">
												<div class="form-group col-lg-4">
														<label>{{words.tName.trans}}</label>
														<input ng-model="contact.email.name" type="text" class="form-control" required>
												</div>
												<div class="form-group col-lg-4">
														<label>{{words.tEmail.trans}}</label>
														<input ng-model="contact.email.senderEmail" type="email" class="form-control" required>
												</div>
												<div class="form-group col-lg-4">
														<label>{{words.tPhoneNumber.trans}}</label>
														<input ng-model="contact.email.phone" type="tel" class="form-control">
												</div>
												<div class="clearfix"></div>
												<div class="form-group col-lg-12">
														<label>{{words.tMessage.trans}}</label>
														<textarea ng-model="contact.email.message" class="form-control" rows="6" required></textarea>
												</div>
												<div class="form-group col-lg-12">
														<input type="hidden" name="save" value="contact">
														<button ng-show="contactForm.$valid" type="submit" class="btn btn-default">{{words.tSubmit.trans}}</button>
												</div>
										</div>
								</form>
						</div>
				</div>
		</div>
</div>	