<!DOCTYPE html>
<html ng-app="modCV" ng-controller="cvController as cv">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Curriculum Vitae</title>
  <link type="text/css" rel="stylesheet" href="css/cv.css" />
  <link type="text/css" rel="stylesheet" href="css/cv-print.css" media="print"/>
  <!--[if IE 7]>
  <link href="css/cv-ie7.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if IE 6]>
  <link href="css/cv-ie6.css" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script src="lan/ita.js"></script>
  <script src="lan/eng.js"></script>

  <script src="lib/js/jquery-1.4.2.min.js"></script>
  <script src="lib/js/jquery.validate.js"></script>
  <script src="lib/js/jquery.tipsy.js"></script>
  <script src="lib/js/cufon.yui.js"></script>
  <script src="lib/js/scrollTo.js"></script>
  <script src="lib/js/myriad.js"></script>

  <script src="lib/js/angular.min.js"></script>
  <script src="js/ngLanguage.js"></script>
  <script src="js/ngAboutMe.js"></script>
  <script src="js/ngIcon.js"></script>
  <script src="js/ngWords.js"></script>
  <script src="js/ngCV.js"></script>

  <script src="js/jqueryCV.js"></script>
  <script src="lib/js/jquery.colorbox.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55329873-2', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
    (function () {
      $('.north').tipsy({gravity: 'n'});
    })();
  </script>

</head>

<body>
  <!-- Begin Wrapper -->
  <div id="wrapper">
    <!-- Begin Screen -->
    <div id="screen">
      <div class="entry myself">
        <!-- Begin Image -->
        <img class="portrait" src="img/profile.jpg" alt="Andrea Olivieri" />
        <!-- End Image -->
        <!-- Begin Personal Information -->
        <div class="self" ng-controller="aboutMeController as aboutMe">
          <h1 class="name">{{aboutMe.status.trans}} {{aboutMe.surname}} {{aboutMe.name}}<br/>
            <span>{{aboutMe.occupation.trans}}</span></h1>
          <ul>
            <li> <img src="img/icn-born.png">{{aboutMe.born.trans}}</li>
            <li> <img src="img/icn-address.png">{{aboutMe.address.trans}}</li>
            <li> <img src="img/icn-email.png">{{aboutMe.email}}</li>
            <li> <img src="img/icn-phone.png">{{aboutMe.phone}}</li>
            <li> <img src="img/icn-website.png">{{aboutMe.website}}</li>
            <li> <img src="img/icn-skype.png">{{aboutMe.skype}}</li>
          </ul>
        </div>
        <!-- End Personal Information -->
        <img class="flag" ng-controller="languageController as lan" ng-click="lan.changeLanguage()"  ng-src="img/flag/{{lan.language.trans}}.png" />
        <!-- Begin Social -->
        <div class="social" ng-controller="iconController as icon">
          <ul>
            <!--
            <li>
              <a class='north' href="#" title="Download .pdf">
                <img src="img/icn-save.jpg" alt="Download the pdf version" />
              </a>
            </li>
            -->
            <li>
              <a class='north' href="javascript:window.print()"
                 ng-attr-title="{{icon.print.title.trans}}">
                <img ng-src="{{icon.print.src}}" alt="" />
              </a>
            </li>

            <li>
              <a class='north' id="contact" href="{{icon.contact.href}}"
                 ng-attr-title="{{icon.contact.title.trans}}">
                <img ng-src="{{icon.contact.src}}" alt="" />
              </a>
            </li>

            <li>
              <a class='north' href="{{icon.google.href}}"
                 ng-attr-title="{{icon.google.title.trans}}">
                <img ng-src="{{icon.google.src}}" alt="" />
              </a>
            </li>

            <li>
              <a class='north' href="{{icon.facebook.href}}"
                 ng-attr-title="{{icon.facebook.title.trans}}">
                <img ng-src="{{icon.facebook.src}}" alt="" />
              </a>
            </li>

            <li>
              <a class='north' href="{{icon.twitter.href}}"
                 ng-attr-title="{{icon.twitter.title.trans}}">
                <img ng-src="{{icon.twitter.src}}" alt="" />
              </a>
            </li>

            <li>
              <a class='north' href="{{icon.linkedin.href}}"
                 ng-attr-title="{{icon.linkedin.title.trans}}">
                <img ng-src="{{icon.linkedin.src}}" alt="" />
              </a>
            </li>


          </ul>
        </div>
        <!-- End Social -->
      </div>
      <!-- EDUCATION -->
      <div class="entry">
        <h2>{{cv.education.title.trans}}</h2>
        <div class="content" ng-repeat="edu in cv.education.records">
          <h3>{{edu.start.trans}} - {{edu.end.trans}}</h3>
          <p> 
            <a class ="eqf" ng-href="{{edu.eqf.href.trans}}">{{edu.eqf.level.trans}}</a>
            {{edu.description.trans}}<br/> 
            <a ng-href="{{edu.href}}">{{edu.place.trans}}</a> - {{edu.address.trans}}
          </p>
        </div>
      </div>
      <!-- EXPERIENCES -->
      <div class="entry">
        <h2>{{cv.experiences.title.trans}}</h2>
        <div class="content" ng-repeat="exp in cv.experiences.records">
          <h3>{{exp.start.trans}} - {{exp.end.trans}}</h3>
          <p><a ng-href="{{exp.href}}">{{exp.place}}</a> - {{exp.description.trans}} <br/>
            <em>{{exp.position.trans}}</em></p>
          <ul class="info">
            <li>{{exp.learned.trans}}</li>
          </ul>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="entry">
        <h2>{{cv.skills.title.trans}}</h2>
        <div class="content" ng-repeat="ski in cv.skills.records">
          <h3>{{ski.title.trans}}</h3>
          <p class="skills">{{ski.skills}}</p>
        </div>
      </div>
      <!-- LANGUAGES -->
      <div class="entry">
        <h2>{{cv.languages.title.trans}}</h2>
        <div class="content">
          <h3>{{cv.languages.motherTongue.definition.trans}}</h3>
          <p>
            {{cv.languages.motherTongue.name.trans}}
          </p><br>
          <h3>{{cv.languages.otherLanguages.title.trans}}</h3>
          <table>
            <tr>
              <td class="column title">
                {{cv.languages.otherLanguages.tLanguage.trans}}
              </td>
              <td class="column title" colspan="2">
                {{cv.languages.otherLanguages.tUnderstanding.trans}}
              </td>
              <td class="column title" colspan="2">
                {{cv.languages.otherLanguages.tSpeaking.trans}}
              </td>
              <td class="column title">
                {{cv.languages.otherLanguages.tWriting.trans}}
              </td>
            </tr>
            <tr>
              <td> </td>
              <td class="subtitle">
                {{cv.languages.otherLanguages.tListening.trans}}
              </td>
              <td class="subtitle">
                {{cv.languages.otherLanguages.tReading.trans}}
              </td>
              <td class="subtitle">
                {{cv.languages.otherLanguages.tSpokenInteraction.trans}}
              </td>
              <td class="subtitle">
                {{cv.languages.otherLanguages.tSpokenProduction.trans}}
              </td>
              <td> </td>
            </tr>
            <tr ng-repeat="language in cv.languages.otherLanguages.records">
              <td> {{language.name.trans}} </td>
              <td> {{language.listening}} </td>
              <td> {{language.reading}} </td>
              <td> {{language.spokenInteraction}} </td>
              <td> {{language.spokenProduction}} </td>
              <td> {{language.writing}} </td>
            </tr>
          </table>
          <div class="rif">
            {{cv.languages.otherLanguages.languagesReference.trans}}
          </div>
        </div>
      </div>
      <!-- CERTIFICATES -->
      <div class="entry">
        <h2>{{cv.certificates.title.trans}}</h2>
        <div class="content" ng-repeat="cert in cv.certificates.records">
          <h3>{{cert.name}}</h3>
          <p>{{cert.description.trans}}</p>
        </div>
      </div>
      <!-- WEBSITE -->
      <div class="entry">
        <h2>{{cv.website.title.trans}}</h2>
        <p ng-controller="aboutMeController as aboutMe">
          {{cv.website.records[0].trans}}
          <a ng-href="http://{{aboutMe.website}}">{{aboutMe.website}}</a><br>
          {{cv.website.records[1].trans}}
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <!-- End Screen -->
  </div>
  <div id="message"><a href="#top" id="top-link">Go to Top</a></div>
  <!-- End Wrapper -->

</body>
</html>
