<!DOCTYPE html>
<html ng-app="modContact" ng-controller="wordsController as words" 
      xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Contact Form</title>
	<link rel="stylesheet" type="text/css" href="../css/cv.css" />

	<script src="../lan/ita.js"></script>
	<script src="../lan/eng.js"></script>

	<script src="../lib/js/jquery-1.11.0.js"></script>

	<script src="../lib/js/angular.min.js"></script>
	<script src="../js/ngLanguage.js"></script>
	<script src="../js/ngWords.js"></script>
	<script src="../js/ngContact.js"></script>
</head>

<body class="contact">
	<form method="post" name="contactForm" id="contactform" 
	      ng-controller="contactController as contact" 
	      ng-submit="contactForm.$valid && contact.sendEmail()" novalidate>

		<label for="Name">{{words.tName.trans}}:</label>

		<input ng-model="contact.email.name" type="text" id="Name" required/>		

		<label for="Email">{{words.tEmail.trans}}:</label>

		<input ng-model="contact.email.senderEmail" type="text" id="Email" required/>

		<label for="Phone">{{words.tPhone.trans}}:</label>

		<input ng-model="contact.email.phone" type="tel" id="Phone" />

		<label for="Message">{{words.tMessage.trans}}:</label>

		<textarea ng-model="contact.email.message" id="Message" rows="10" cols="20" class="required" required>
		</textarea>
	
		<div class="clear"></div>
	
		<input ng-show="contactForm.$valid" type="submit" value="" class="submit-button"/>
	</form>	
</body>

</html>